
  <div class="create-product-wrap">
    <h1 class="create-product-title font-h1-title">Форма {{isEditMode() ? 'редагування' : 'створення'}} продукта</h1>
    <mat-radio-group (change)="changeProduct()" class="radio-wrap" aria-label="Виберіть тип продукту">
      <mat-radio-button class="radio-item" [checked]="!kindOfProduct" value="false">Двері</mat-radio-button>
      <mat-radio-button class="radio-item" [checked]="kindOfProduct" value="true">Фурнітура</mat-radio-button>
    </mat-radio-group>
    <mat-dialog-content class="clear-scroll-x">
    <form class="product-form" [formGroup]="productForm">
      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field" >
          <mat-select
            class="form-field-input"
            formControlName="type_of_product"
            matInput
            placeholder="Тип продукту"
            (selectionChange)="changeDoorAreaCond()"
            
          >
          <mat-option value="Двері вхідні">Двері вхідні</mat-option>
          <mat-option value="Двері міжкімнатні">Двері міжкімнатні</mat-option>
          <mat-option value="Фурнітура">Фурнітура</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              productForm.get('type_of_product')?.invalid ||
              (productForm.get('type_of_product')?.touched &&
                productForm.get('type_of_product')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
      </div>

      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field">
          <mat-select
            class="form-field-input"
            formControlName="brand"
            matInput
            placeholder="Виробник"
          >
          <mat-option *ngFor="let brand of productProducers" [value]="brand.producerName">{{brand.producerName}} ФП:{{brand.filtrationField}}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              productForm.get('brand')?.invalid ||
              (productForm.get('brand')?.touched &&
                productForm.get('brand')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
        <button (click)="openProductProducerDialog()" class="btn-add-producer" mat-icon-button >
          <mat-icon>add</mat-icon>
        </button>
      </div>

        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Назва продукту" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              type="text"
              formControlName="name"
              matInput
              placeholder="Введіть назву продукту"
            />
            <mat-error
              *ngIf="
                productForm.get('name')?.invalid ||
                (productForm.get('name')?.touched && 
                productForm.get('name')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>
    
        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Ціна" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              type="number"
              formControlName="price"
              matInput
              placeholder="Введіть ціну продукта"
            />
            <mat-error
              *ngIf="
                productForm.get('price')?.invalid ||
                (productForm.get('price')?.touched &&
                  productForm.get('price')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>
    
        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Ціна з Установкою" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              type="installationPrice"
              type="number"
              formControlName="installationPrice"
              matInput
              placeholder="Введіть ціну товари з установкою"
            />
            <mat-error
              *ngIf="
                productForm.get('installationPrice')?.invalid ||
                (productForm.get('installationPrice')?.touched &&
                  productForm.get('installationPrice')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>
  
    
        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Країна Виробник" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              formControlName="country"
              matInput
              placeholder="Введіть країну виробника"
            />
            <mat-error
              *ngIf="
                productForm.get('country')?.invalid ||
                (productForm.get('country')?.touched &&
                  productForm.get('country')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>
    
        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Стан" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              formControlName="state"
              matInput
              placeholder="Введіть стан продукта"
            />
            <mat-error
              *ngIf="
                productForm.get('state')?.invalid ||
                (productForm.get('state')?.touched &&
                  productForm.get('state')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>
    
        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-select
              class="form-field-input"
              formControlName="in_stock"
              matInput
              placeholder="Наявність на складі"
            >
            <mat-option value="В наявності">В наявності</mat-option>
            <mat-option value="Немає в наявності">Немає в наявності</mat-option>
            <mat-option value="Під замовлення">Під замовлення</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                productForm.get('in_stock')?.invalid ||
                (productForm.get('in_stock')?.touched &&
                  productForm.get('in_stock')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>

        
  
        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Кількість ущільнюючих контурів" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              type="number"
              min="0"
              formControlName="count_of_sealing_conturs"
              matInput
              placeholder="Кількість ущільнюючих контурів"
            />
            <mat-error
              *ngIf="
                productForm.get('count_of_sealing_conturs')?.invalid ||
                (productForm.get('count_of_sealing_conturs')?.touched
                && productForm.get('count_of_sealing_conturs')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <div [style.display]="doorAreaCond ? 'none' : 'block'">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ "Матеріал дверного полотна" | titlecase }}</mat-label>
              <input
                class="form-field-input"
                type="text"
                formControlName="door_leaf_material"
                matInput
                placeholder="матеріл дверного полотна"
              />
              <mat-error
                *ngIf="
                  productForm.get('door_leaf_material')?.invalid ||
                  (productForm.get('door_leaf_material')?.touched && 
                  productForm.get('door_leaf_material')?.dirty)
                "
              >
                Обов'язкове поле
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Матеріал дверної коробки" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              type="text"
              formControlName="door_frame_material"
              matInput
              placeholder="матеріл дверної коробки"
            />
            <mat-error
              *ngIf="
                productForm.get('door_frame_material')?.invalid ||
                (productForm.get('door_frame_material')?.touched && 
                productForm.get('door_frame_material')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <div [style.display]="doorAreaCond ? 'none' : 'block'">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ "Призначення двері" | titlecase }}</mat-label>
              <input
                class="form-field-input"
                type="text"
                formControlName="door_purpose"
                matInput
                placeholder="призначення двері"
              />
              <mat-error
                *ngIf="
                  productForm.get('door_purpose')?.invalid ||
                  (productForm.get('door_purpose')?.touched && 
                  productForm.get('door_purpose')?.dirty)
                "
              >
                Обов'язкове поле
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Наповнення дверей" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              type="text"
              formControlName="door_fill"
              matInput
              placeholder="Наповнення дверей"
            />
            <mat-error
              *ngIf="
                productForm.get('door_fill')?.invalid ||
                (productForm.get('door_fill')?.touched && 
                productForm.get('door_fill')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <div [style.display]="!doorAreaCond ? 'none' : 'block'">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ "застосування дверей" | titlecase }}</mat-label>
              <input
                class="form-field-input"
                type="text"
                formControlName="door_application"
                matInput
                placeholder="застосування дверей"
              />
              <mat-error
                *ngIf="
                  productForm.get('door_application')?.invalid ||
                  (productForm.get('door_application')?.touched && 
                  productForm.get('door_application')?.dirty)
                "
              >
                Обов'язкове поле
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <div [style.display]="!doorAreaCond ? 'none' : 'block'">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ "метод відкривання дверей" | titlecase }}</mat-label>
              <input
                class="form-field-input"
                type="text"
                formControlName="door_opening_method"
                matInput
                placeholder="метод відкривання дверей"
              />
              <mat-error
                *ngIf="
                  productForm.get('door_opening_method')?.invalid ||
                  (productForm.get('door_opening_method')?.touched && 
                  productForm.get('door_opening_method')?.dirty)
                "
              >
                Обов'язкове поле
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "тип відкривання дверей" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              type="text"
              formControlName="door_opening_type"
              matInput
              placeholder="тип відкривання дверей"
            />
            <mat-error
              *ngIf="
                productForm.get('door_opening_type')?.invalid ||
                (productForm.get('door_opening_type')?.touched && 
                productForm.get('door_opening_type')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>

        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "тип дверей" | titlecase }}</mat-label>
            <input
              class="form-field-input"
              type="text"
              formControlName="door_type"
              matInput
              placeholder="тип дверей"
            />
            <mat-error
              *ngIf="
                productForm.get('door_type')?.invalid ||
                (productForm.get('door_type')?.touched && 
                productForm.get('door_type')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
        </div>

        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <div [style.display]="!doorAreaCond ? 'none' : 'block'">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ "Расспродажа" | titlecase }}</mat-label>
              <input
                class="form-field-input"
                type="text"
                formControlName="sail"
                matInput
                placeholder="Расспродажа"
              />
              <mat-error
                *ngIf="
                  productForm.get('sail')?.invalid ||
                  (productForm.get('sail')?.touched && 
                  productForm.get('sail')?.dirty)
                "
              >
                Обов'язкове поле
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        
        <div class="product-form-input" [style.display]="kindOfProduct ? 'none' : 'block'">
          <div [style.display]="!doorAreaCond ? 'none' : 'block'">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>{{ "Оздоблення поверхні між. кім." | titlecase }}</mat-label>
              <input
                class="form-field-input"
                type="text"
                formControlName="door_area_material"
                matInput
                placeholder="Оздоблення поверхні між. кім."
              />
              <mat-error
                *ngIf="
                  productForm.get('door_area_material')?.invalid ||
                  (productForm.get('door_area_material')?.touched && 
                  productForm.get('door_area_material')?.dirty)
                "
              >
                Обов'язкове поле
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="home_page-checkbox" [style.display]="kindOfProduct ? 'none' : 'block'">
          <p><mat-checkbox formControlName="home_page" >На головній сторінці</mat-checkbox></p>
        </div>
      
        <div class="product-form-textarea-wrap">
          <div class="product-form-textarea-block">
            <h1 class="product-form-textarea-title">Опис продукта</h1>
            <textarea class="product-form-textarea" formControlName="description" ></textarea>
          </div>
        </div>
        
    </form>

    <div class="file-container">
      <input #inputFileRef hidden type="file" (change)="onFileUpload($event)">
      <button (click)="triggerInput()" mat-raised-button color="primary">Add image</button>
      <img [ngStyle]="{'display': imagePreview === '' ? 'none' : 'block'}" class="img-preview" [src]="imagePreview" alt="">
    </div>
    <div class="button-wrap" align="end">
      <button 
        mat-dialog-close
        class="product-form-btn btn-close font-p-sm"
        > Закрити 
      </button>
      <button
        [disabled]="productForm.invalid"
        type="button"
        class="product-form-btn font-p-sm"
        (click)="submit()"
      >
        {{ isEditMode() ? "Редагувати" : "Створити" }}
      </button>
    </div>
  </mat-dialog-content>
  </div>

  

