<div class="container">
  <h1 class="our-manufacturers-title">НАШІ ВИРОБНИКИ</h1>
  <div class="our-manufacturers-logos">
    <div class="our-manufacturers-item link-wrap">
      <img src="assets/section_our_manufacturers/logo_rodos.png" alt="">
    </div>
    <div class="our-manufacturers-item link-wrap">
      <img src="assets/section_our_manufacturers/logo_leador.png" alt="">
    </div>
    <div class="our-manufacturers-item link-wrap">
      <img src="assets/section_our_manufacturers/logo_neman.png" alt="">
    </div>
    <div class="our-manufacturers-item link-wrap">
      <img src="assets/section_our_manufacturers/logo_stil_doors.png" alt="">
    </div>
    <div class="our-manufacturers-item link-wrap">
      <img src="assets/section_our_manufacturers/logo_terminus.png" alt="">
    </div>
    <div class="our-manufacturers-item link-wrap">
      <img src="assets/section_our_manufacturers/logo_korfad.png" alt="">
    </div>
  </div>
</div>


