@import 'colors';

.create-product{
  &-wrap{
    width: 100%;
    max-width: 1000px;
    padding: 20px;
  }
  &-title{
    text-align: center;
    margin: 20px 0;
  }
}

.product-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-btn{
    padding: 10px 20px;
    background-color: rgb(84, 161, 84);
    border: none;
    outline: none;
    color: $c1;
    cursor: pointer;
    &:disabled{
      background-color: $c4;
    }
  }
  &-input{
    display: flex;
    align-items: center;
  }
  &-textarea{
    width: 100%;
    min-width: 250px;
    min-height: 150px;
    
    &-title{
      margin-bottom: 10px;
    }
    &-block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    &-wrap{
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
    }
  }
}

.form-field{
  width: 100%;
}



.radio{
  &-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  &-item{
    margin-right: 40px;
  }
}


::ng-deep mat-dialog-content{
  padding: 0 !important;
  margin: 0 !important;
}

.btn-add-producer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $c6;
  margin-bottom: 20px;
  margin-left: 10px;
}

.button-wrap{
  margin-top: 10px;
}

.btn-close{
  background-color: $c6;
  margin-right: 10px;
}