<div mat-dialog-content class="create-product-wrap">
  <h1 class="create-product-title font-h1-title">
    Форма {{ isEditMode() ? "редагування" : "створення" }} продукта
  </h1>
  <div class="product-form-input">
    <form class="product-form" [formGroup]="entranceDoorForm">
      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field">
          <mat-select
            class="form-field-input"
            formControlName="brand"
            matInput
            placeholder="Виробник"
          >
            <mat-option
              *ngFor="let brand of productProducers"
              [value]="brand.producerName"
              >{{ brand.producerName }} ФП:{{
                brand.filtrationField
              }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="
              entranceDoorForm.get('brand')?.invalid ||
              (entranceDoorForm.get('brand')?.touched &&
                entranceDoorForm.get('brand')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
        <button
          (click)="openProductProducerDialog()"
          class="btn-add-producer"
          mat-icon-button
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "Назва продукту" | titlecase }}</mat-label>
          <input
            class="form-field-input"
            type="text"
            formControlName="name"
            matInput
            placeholder="Введіть назву продукту"
          />
          <mat-error
            *ngIf="
              entranceDoorForm.get('name')?.invalid ||
              (entranceDoorForm.get('name')?.touched &&
                entranceDoorForm.get('name')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
      </div>

      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "Ціна" | titlecase }}</mat-label>
          <input
            class="form-field-input"
            type="number"
            formControlName="price"
            matInput
            placeholder="Введіть ціну продукта"
          />
          <mat-error
            *ngIf="
              entranceDoorForm.get('price')?.invalid ||
              (entranceDoorForm.get('price')?.touched &&
                entranceDoorForm.get('price')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
      </div>

      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "Ціна з Установкою" | titlecase }}</mat-label>
          <input
            class="form-field-input"
            type="installationPrice"
            type="number"
            formControlName="installationPrice"
            matInput
            placeholder="Введіть ціну товари з установкою"
          />
          <mat-error
            *ngIf="
              entranceDoorForm.get('installationPrice')?.invalid ||
              (entranceDoorForm.get('installationPrice')?.touched &&
                entranceDoorForm.get('installationPrice')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
      </div>

      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "Країна Виробник" | titlecase }}</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="country"
            matInput
            placeholder="Введіть країну виробника"
          >
            <mat-option value="Україна">Україна</mat-option>
            <mat-option value="Туреччина">Туреччина</mat-option>
            <mat-option value="Китай">Китай</mat-option>
            <mat-option value="Польща">Польща</mat-option>
            <mat-option value="Італія">Італія</mat-option>
            <mat-option value="Німеччина">Німеччина</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              entranceDoorForm.get('country')?.invalid ||
              (entranceDoorForm.get('country')?.touched &&
                entranceDoorForm.get('country')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
      </div>

      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>{{ "Стан" | titlecase }}</mat-label>
          <mat-select
            class="form-field-input"
            formControlName="state"
            matInput
            placeholder="Введіть стан продукта"
          >
            <mat-option value="Новий">Новий</mat-option>
            <mat-option value="Акційний">Акційний</mat-option>
            <mat-option value="Распродаж">Распродаж</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              entranceDoorForm.get('state')?.invalid ||
              (entranceDoorForm.get('state')?.touched &&
                entranceDoorForm.get('state')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
      </div>

      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field">
          <mat-select
            class="form-field-input"
            formControlName="inStock"
            matInput
            placeholder="Наявність на складі"
          >
            <mat-option value="В наявності">В наявності</mat-option>
            <mat-option value="Немає в наявності">Немає в наявності</mat-option>
            <mat-option value="Під замовлення">Під замовлення</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              entranceDoorForm.get('inStock')?.invalid ||
              (entranceDoorForm.get('inStock')?.touched &&
                entranceDoorForm.get('inStock')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
      </div>

      <div class="product-form-input">
        <mat-form-field appearance="outline" class="form-field">
          <mat-select
            class="form-field-input"
            formControlName="guarantee"
            matInput
            placeholder="Гарантійний термін"
          >
            <mat-option value="12 місяців">12 місяців</mat-option>
            <mat-option value="18 місяців">18 місяців</mat-option>
            <mat-option value="2 роки">2 роки</mat-option>
            <mat-option value="3 роки">3 роки</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              entranceDoorForm.get('guarantee')?.invalid ||
              (entranceDoorForm.get('guarantee')?.touched &&
                entranceDoorForm.get('guarantee')?.dirty)
            "
          >
            Обов'язкове поле
          </mat-error>
        </mat-form-field>
      </div>

      <div class="product-form-input-multi-wrap">
        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Кількість ущільнюючих контурів" | titlecase }}</mat-label>
            <mat-select
              class="form-field-input"
              formControlName="amountOfSealingMaterials"
              multiple
            >
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                entranceDoorForm.get('amountOfSealingMaterials')?.invalid ||
                (entranceDoorForm.get('amountOfSealingMaterials')?.touched &&
                  entranceDoorForm.get('amountOfSealingMaterials')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
          <p>{{ slashStylingOfFormField("amountOfSealingMaterials") }}</p>
        </div>

        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Матеріал дверного полотна" | titlecase }}</mat-label>
            <mat-select
              class="form-field-input"
              formControlName="fabricMaterial"
              multiple
            >
              <mat-option value="Сталь">Сталь</mat-option>
              <mat-option value="МДФ +  Сталь">МДФ +  Сталь</mat-option>
              <mat-option value="Фанера + Сталь">Фанера + Сталь</mat-option>
              <mat-option value="Металопластик(ПВХ)">Металопластик(ПВХ)</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                entranceDoorForm.get('fabricMaterial')?.invalid ||
                (entranceDoorForm.get('fabricMaterial')?.touched &&
                  entranceDoorForm.get('fabricMaterial')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
          <p>{{ slashStylingOfFormField("fabricMaterial") }}</p>
        </div>

        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Призначення двері" | titlecase }}</mat-label>
            <mat-select
              class="form-field-input"
              formControlName="purpose"
              multiple
            >
              <mat-option value="Для житлових приміщень">Для житлових приміщень</mat-option>
              <mat-option value="Протипожежні">Протипожежні</mat-option>
              <mat-option value="Технічні">Технічні</mat-option>
              <mat-option value="Вуличні">Вуличні</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                entranceDoorForm.get('purpose')?.invalid ||
                (entranceDoorForm.get('purpose')?.touched &&
                  entranceDoorForm.get('purpose')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
          <p>{{ slashStylingOfFormField("purpose") }}</p>
        </div>

        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Спосіб відкривання" | titlecase }}</mat-label>
            <mat-select
              class="form-field-input"
              formControlName="openingMethod"
              multiple
            >
              <mat-option value="Право">Право</mat-option>
              <mat-option value="Ліво">Ліво</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                entranceDoorForm.get('openingMethod')?.invalid ||
                (entranceDoorForm.get('openingMethod')?.touched &&
                  entranceDoorForm.get('openingMethod')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
          <p>{{ slashStylingOfFormField("openingMethod") }}</p>
        </div>

        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Покриття" | titlecase }}</mat-label>
            <mat-select
              class="form-field-input"
              formControlName="covering"
              multiple
            >
              <mat-option value="Молоткова покраска">Молоткова покраска</mat-option>
              <mat-option value="МДФ + Шпон">МДФ + Шпон</mat-option>
              <mat-option value="МДФ + Віноріт">МДФ + Віноріт</mat-option>
              <mat-option value="МДФ + Пофарбування">МДФ + Пофарбування</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                entranceDoorForm.get('covering')?.invalid ||
                (entranceDoorForm.get('covering')?.touched &&
                  entranceDoorForm.get('covering')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
          <p>{{ slashStylingOfFormField("covering") }}</p>
        </div>

        <div class="product-form-input">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>{{ "Матеріал дверної коробки" | titlecase }}</mat-label>
            <mat-select
              class="form-field-input"
              formControlName="frameMaterial"
              multiple
            >
              <mat-option value="Сталь + мінеральна вата">Сталь + мінеральна вата</mat-option>
              <mat-option value="Металопластик(ПВХ)">Металопластик(ПВХ)</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                entranceDoorForm.get('frameMaterial')?.invalid ||
                (entranceDoorForm.get('frameMaterial')?.touched &&
                  entranceDoorForm.get('frameMaterial')?.dirty)
              "
            >
              Обов'язкове поле
            </mat-error>
          </mat-form-field>
          <p>{{ slashStylingOfFormField("frameMaterial") }}</p>
        </div>


        

        <div class="home_page-checkbox">
          <p>
            <mat-checkbox formControlName="homePage"
              >На головній сторінці</mat-checkbox
            >
          </p>
        </div>
        <div>
          <h4 class="textarea-title">Опис</h4>
          <textarea
            formControlName="description"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="file-container">
          <input
            #inputFileRef
            hidden
            type="file"
            (change)="onFileUpload($event)"
          />
          <button (click)="triggerInput()" mat-raised-button color="primary">
            Add image
          </button>
          <img
            [ngStyle]="{ display: imagePreview === '' ? 'none' : 'block' }"
            class="img-preview"
            [src]="imagePreview"
            alt=""
          />
        </div>
      </div>
      <div align="end">
        <button mat-dialog-close class="product-form-btn btn-close font-p-sm">
          Закрити
        </button>
        <button
          [disabled]="entranceDoorForm.invalid"
          class="product-form-btn font-p-sm"
          (click)="submit()"
        >
          Створити
        </button>
      </div>
    </form>
  </div>
</div>
