<dsa-header></dsa-header>
<dsa-nav></dsa-nav>
<dsa-nav-logo></dsa-nav-logo>
<main class="main">
  <section class="guarantee">
    <div class="container">
      <h1 class="guarantee-title">{{'Гарантія'| uppercase}}</h1>
      <img class="guarantee-baner" src="assets/guarantee/baner_1.svg" alt="">
    <p class="guarantee-text">Відповідно до чинного законодавства України гарантія на двері діє щонайменше рік. Проте виробники часто дають вищий гарантійний термін – до 5 років.</p>
    <div class="guarantee-group">
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_rodos.png" alt="">
        </div>
        <p class="guarantee-item-text">Виробник гарантує збереження всіх експлуатаційних функцій дверних блоків
          протягом 12 (дванадцяти) календарних місяців з моменту введення дверей 
        в експлуатацію для громадських приміщень 6 (шість) календарних місяців. 
        При дотриманні та виконанні всіх рекомендацій щодо встановлення та обслу-
        говування дверних блоків гарантійний термін експлуатації визначається 
        ДСТУ Б В.2.6.-23:2009; <br>Б В2.6.-99:2009 (EN 14351-1:2006, NEQ)
        Гарантійний термін зберігання становить рік із дати виготовлення дверних блоків.</p>
      </div>
      <div class="guarantee-group-item">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_leador.png" alt="">
        </div>
        <p class="guarantee-item-text">
          Відповідно до чинного законодавства України гарантія на двері діє щонайменше рік.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_neman.png" alt="">
        </div>
        <p class="guarantee-item-text">
          Гарантійний строк експлуатації складає 18 місяців з дати введення дверей в експлуатацію згідно з актом виконаних робіт.
          Гарантійний строк зберігання складає п'ять років з дати виготовлення дверних блоків.
        </p>
      </div>
      <div class="guarantee-group-item">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_stil_doors.png" alt="">
        </div>
        <p class="guarantee-item-text">
          Відповідно до чинного законодавства України гарантія на двері діє щонайменше рік.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_terminus.png" alt="">
        </div>
        <p class="guarantee-item-text">
          Гарантійний строк експлуатації складає п'ять років із моменту введення дверей в експлуатацію.
          Гарантійний строк зберігання складає один рік з дати виготовлення дверних блоків.
        </p>
      </div>
      <div class="guarantee-group-item ">
        <div class="link-wrap">
          <img src="assets/section_our_manufacturers/logo_korfad.png" alt="">
        </div>
        <p class="guarantee-item-text">          
          Міжкімнатні двері Korfad - гарантія 5 років.
        </p>
      </div>
    </div>
    <p class="p-sm-i guarantee-under-text">Гарантія на фурнітуру від 2 до 5 років. Відповідно даних виробника</p>
    </div>
  </section>
</main>
<dsa-footer></dsa-footer>

